/*-- scss:defaults --*/

/*-- scss:rules --*/
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  color: #e83e8c !important;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
}
