# From Ilya's Lecture 5
# Example 4b: AI Code Critic PR (GitHub Models)
name: AI Critic (PR)

on:
  workflow_dispatch:
  pull_request:
   paths:
     - 'src/**/*.py' # Only run on python source changes

permissions:
  models: read
  contents: read
  pull-requests: write