# From Ilya's Lecture 5
# Example 4a: AI Code Critic Issues (GitHub Models)
name: AI Critic (Issues)

on:
  issues:
   types: [opened]
  workflow_dispatch:

permissions:
  models: read
  issues: write