name: CD

on:
  # push:
  #   branches: [main]
  # pull_request:
  #   branches: [main]
  # We commented out the triggers above to show what is needed for milestone 3
  # However, our team only wants to deploy and commit for new tags
  push:
    tags: [ "v*.*.*" ]
  workflow_dispatch:

jobs:
  unit-test-pytest:
    name: Run tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install hatch
        run: |
          python -m pip install --upgrade pip
          python -m pip install hatch

      - name: Run tests with coverage
        run: |
          hatch run test:run

      - name: Upload to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml


  style-check:
    name: Run linter and format check (ruff)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install hatch
        run: |
          python -m pip install --upgrade pip
          python -m pip install hatch

      - name: Run ruff linter
        run: hatch run lint:check

      - name: Run ruff formatter
        run: hatch run lint:format --check

  build:
    name: Build package
    needs: [unit-test-pytest, style-check]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install hatch
        run: |
          python -m pip install --upgrade pip
          python -m pip install hatch

      - name: Build package using Hatch
        run: |
            hatch run build:check

            echo ""
            echo "Generated files:"
            ls -lh dist/

      - name: Store the distribution packages
        uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: dist/
          if-no-files-found: error

  publish-testpypi:
    name: Publish to Test PyPI
    needs:
      - build
    runs-on: ubuntu-latest

    steps:
      - name: Download dists
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: dist/
          merge-multiple: true

      - name: Publish package to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
